.page-container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}

.page-container .content-wrapper h1 {
    font-size: 6em;
    width: min-content;
    border-bottom: 2px solid #2A456E;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 0;
}

.page-container .content-wrapper h2 {
    font-size: 3em;
    margin-bottom: 0;
}

.page-container .content-wrapper p {
    font-size: 1.25em;
}

.page-container .content-wrapper .text-photo-wrapper {
    display: flex;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo {
    position: relative;
    text-align: center;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo img {
    max-width: 400px;
    max-height: 400px;
    padding: 40px;
    border-radius: 60px;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo .caption {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: rgba(0,0,0,0.6);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}