.page-container .content-wrapper h2 {
    font-size: 3em;
    margin-bottom: 0;
}

.page-container .content-wrapper p {
    font-size: 1.25em;
}

.page-container .content-wrapper h2 {
    font-size: 3em;
    margin-bottom: 0;
}

.page-container .content-wrapper .text-photo-wrapper {
    display: flex;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo {
    position: relative;
    text-align: center;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo img {
    max-width: 400px;
    height: auto;
    margin: 40px;
    border-radius: 20px;
}

.page-container .content-wrapper .text-photo-wrapper .bio-photo .caption {
    position: absolute;
    top: 395px;
    left: 50px;
    background-color: rgba(0,0,0,0.6);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}