.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #2A456E;
    height: 5.14vw;
}

.footer .signature img {
    height: 4vw;
    width: auto;
    padding: 0.7vw 2.6vw;
}

.footer .copyright-wrapper {
    padding-right: 3.3vw;
}

.footer .copyright-wrapper p {
    font-size: 1.25em;
}

@media only screen and (max-width: 1000px) {
    .footer {
        height: 40px;
    }
}