.page-container {
    display: flex;
    flex-direction: column;
    margin-left: 9.8vw;
    margin-right: 9.8vw;
    margin-top: 0.7vw;
}

.page-container .content-wrapper h1 {
    font-size: 6.25vw;
    width: min-content;
    border-bottom: 0.13vw solid #2A456E;
    padding-left: 0.7vw;
    padding-right: 2vw;
    margin-bottom: 0;
}