.hero-section {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.hero-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.hero-section > .columns-wrapper > img {
    max-width: 300px;
    max-height: 300px;
    border: 5px solid #2A456E;
    border-radius: 5px;
}

.hero-section > .columns-wrapper > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section > .columns-wrapper > .text > h1 {
    font-size: 500%;
}

.hero-section > .columns-wrapper > .text > p {
    font-size: 200%;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    width: 1000px;
}

.links .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: 10px;
    background-color: #222222;
    border-radius: 5px;
    box-shadow: 0 3px 5px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}

.links .link:hover {
    background-color: #1E1E1E;
}

.links .link img {
    max-height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.links .link h1 {
    color: white;
    font-size: 3em;
    margin: 15px 20px 20px 20px;
    padding-right: 10px;
    padding-left: 5px;
    border-bottom: 2px solid #2A456E;
}

.links .link h1:hover {
    color: lightgray;
}

@media only screen and (max-width: 1000px) {
    .hero-section > .columns-wrapper {
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100vw;
        margin-top: 40px;
    }

    .hero-section > .columns-wrapper > .text {
        align-items: center;
    }

    .hero-section > .columns-wrapper > .text h1 {
        font-size: 60px;
        margin: 20px;
        text-align: center;
    }

    .hero-section > .columns-wrapper > .text p {
        font-size: 24px;
        margin: 0 0 30px;
        text-align: center;
    }

    .links .link {
         padding-left: 2vw;
         padding-right: 2vw;
    }

    .links .link img {
        max-height: 80px;
    }

    .links .link h1 {
        font-size: 40px;
    }
}